# Ignore all markdown files
*.md

# Ignore all test and testing files
*_test.go
**/testdata/*

# Ignore git files
.git
.gitignore

# Ignore all log files
*.log

# Ignore all binary files
bin/*

# Docker files
Dockerfile